{% extends "layouts/base.html" %}

{% block title %} User Page {% endblock %}

{% block stylesheets %}
<style>
  .profile-image-container {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="bmd-label-floating">Username</label>
                            <input type="text" class="form-control" value="{{ user.username }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="id_email" class="bmd-label-floating">Email</label>
                            <input type="email" id="id_email" name="email" class="form-control" value="{{ user.email }}">
                        </div>
                        <div class="form-group">
                            <label for="id_rule" class="bmd-label-floating">Rule (Optional)</label>
                            <input type="text" id="id_rule" name="rule" class="form-control" value="{{ user.profile.rule }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile text-center">
                <div class="profile-image-container" style="background-image: url('{{ user.profile.image.url|default:'/static/assets/img/faces/default.jpg' }}');"></div>
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="image" class="form-control" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary btn-round">Upload New Image</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
